<%= form.label :name %>
<%= form.text_field :name %>

<fieldset id="recipes_form_ingredient_forms">
  <%= form.fields_for :ingredient_forms do |ingredient_fields| %>
    <div class=".js-ingredient">
      <h3>Ingredient</h3>
      <div class="row">
        <div class="large-12 columns">
          <%= ingredient_fields.label :food %>
          <%= ingredient_fields.select :food,
            options_for_select(Food.all.map{ |f| [f.name, f.id] }) %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <%= ingredient_fields.label :amount %>
          <%= ingredient_fields.text_field :amount %>
        </div>

        <div class="large-6 columns">
          <%= ingredient_fields.label :unit %>
          <%= ingredient_fields.text_field :unit %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= ingredient_fields.label :preperation %>
          <%= ingredient_fields.text_area :preperation %>
        </div>
      </div>
    </div>
  <% end %>
</fieldset>
<a href="#" class="button js-add-ingredient">add ingredient</a>

<%= form.label :description %>
<%= form.text_area :description %>

