<% if item_form.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(item_form.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% item_form.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<fieldset>
  <%= form.label :sku %>
  <%= form.text_field :sku %>
</fieldset>

<fieldset>
  <%= form.label :unit %>
  <%= form.text_field :unit %>
</fieldset>

<fieldset>
  <%= form.label :value %>
  <%= form.text_field :value %>
</fieldset>
