<article class="item" id="<%= item.id %>">
  <h1>Item <%= item.id %></h1>
  <p class="location_name"><%= item.location_name %></p>
  <p>Food sku: <%= item.food.sku %></p>
  <p><%= item.unit %>: <%= item.value %></p>
</article>
